<footer class="site-footer">



    <h2 class="footer-heading">{{ site.title }}</h2>

        <ul class="contact-list">
          <li>{{ site.title }}</li>
          <li><a href="mailto:{{ site.email }}">Email: {{ site.email }}</a></li>
     <li><a href="https://www.facebook.com/Dr-Crow-The-Forbidden-Zone-563684340321837/timeline/">Facebook
          Page </a></li>
          {% if site.github_username %}
          <li>
            <a href="https://github.com/{{ site.github_username }}">
              <span class="username">Github for site: {{ site.github_username }}</span>
            </a>
          </li>
          {% endif %}

    
        </ul>

</footer>
