
<div id="latestevent">
  <a href="./events">Carpe Diem, Calverley St,  LS1 3ED -
  9:00PM Saturday, October 10, 2015 -
   Carpe Diem </a>
</div>

<nav>
      <ol id="mainmenu">
           <li><a href="events/index.html">Events</a></li>
           <li><a href="http://blog.drcrow.co.uk/">News</a></li>
           <li><a href="game/index.html">Game</a></li>
           <li><a href="http://drcrow.bandcamp.com/">Music</a></li>
      </ol>
</nav>
<header>
      
  <a href="index.html">
    <img src="http://s3.amazonaws.com/drcrow/img/header.png" width = "920px"></img>
  </a>
      
</header>
    
