{% if include.youtube_id %}
<div class="video-responsive">
  <iframe src="https://www.youtube.com/embed/{{ include.youtube_id }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen loading="lazy"></iframe>
</div>
{% elsif include.facebook_url %}
<div class="video-responsive">
  <iframe src="https://www.facebook.com/plugins/video.php?href={{ include.facebook_url | url_encode }}&show_text=0&width=560" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true" loading="lazy"></iframe>
</div>
{% elsif include.wix_video_url %}
<div class="video-responsive">
  <video autoplay loop muted playsinline>
    <source src="{{ include.wix_video_url }}" type="video/mp4">
    Your browser does not support the video tag.
  </video>
</div>
{% endif %}
