---
layout: default
---
{% include page_hero.html title=page.heading tagline=page.lead image=page.image %}

<section class="about-intro">
  <div class="container">
    {{ content }}
  </div>
</section>

<section class="about-acid bg-surface-low">
  <div class="container">
    <h2>ACID</h2>
    {% include video_embed.html youtube_id=page.acid_youtube_id %}
  </div>
</section>

<section class="about-exposition">
  <div class="container">
    <h2>EXPOSITION</h2>
  </div>
  {% include exposition_renderer.html %}
</section>
