---
layout: default
---
<section class="videos-header">
  <div class="container">
    <h1>{{ page.title }}</h1>
    {% if page.lead %}<p class="lead">{{ page.lead }}</p>{% endif %}
  </div>
</section>

<section class="videos-content bg-surface-low">
  <div class="container" markdown="1">
    {{ content }}
    
    {% for video in site.data.videos %}
    <section class="video-feature" markdown="1">
      ## {{ video.title }}
      {{ video.description }}

      {% if video.youtube_id or video.facebook_url or video.wix_video_url %}
      {% include video_embed.html youtube_id=video.youtube_id facebook_url=video.facebook_url wix_video_url=video.wix_video_url %}
      {% endif %}
    </section>
    {% endfor %}
  </div>
</section>
